body {
  margin: 0;
  padding: 0;
  font-family: lato;
}

.App {
  padding: 0px;
}

#index {
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  height: 54px;
  padding: 8px;
}

.user_icon {
  width: 40px;
  height: 40px;
}

.menu_icon {
  width: 40px;
  height: 40px;
}

.banner {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  align-items: center;
}

.logo {
  width: 100%;
  padding-top: 16px;
}

h4 {
  text-align: center;
  padding: 16px;
}

.browser {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  background-color: #ffffff;
  align-items: center;
}

.browser_icon {
  width: 104px;
}

.prompt1, .prompt2 {
  width: 50%;
  height: 54px;
  background-color: #ffffff;
  border-style: none;
  border: solid black 1px;
}

footer {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  background-color: #ffffff;
  align-items: center;
}

.home_icon {
  padding-top: 24px;
  width: 40px;
}



.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 24px;
}

.card-title {
  font-family: 'DM Serif Display', serif;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 96px;
}

.fas {
  padding: 12px;
  border-radius: 24px;
  border: 1px solid #ff1744;
  color: #ff1744;
}

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff1744;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff1744 ;
  box-shadow: 0 1px 0 0 #000;
}